.section-5 {
    width: 100%;
    height: 100vh;
    background: #F4F5F7;
    padding: 50px 150px;

    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 10px;
    }

    p {
        font-size: 18px;
        text-align: center;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
    }

    .boxes-section-5 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        .box-con {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            .boxs {
                width: 330px;
                height: 300px;
                border-radius: 10px;
                background-color: white;
                padding: 20px;

                h2 {
                    text-align: center;
                    color: #18191F;
                    font-size: 22px;
                    font-weight: bold;
                    font-family: 'Montserrat', sans-serif;
                    margin-bottom: 10px;
                }

                p {
                    color: #18191F;
                    opacity: 0.8;
                    font-size: 20px;
                }

            }

            .box-con-clint {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;

                h2 {
                    font-weight: bold;
                    font-size: 16px;
                    font-family: 'Montserrat', sans-serif;
                }

                p {
                    color: #474A57;
                    font-size: 15px;
                    font-family: 'Roboto', sans-serif;
                }

            }

        }

    }

}